<%= form_for @user do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %>
  <br>

  <label>Password:</label><br>
  <%= f.password_field :password %>
  <br>
<!--
  <label>Password Confirmation:</label><br>
  <%= f.password_field :password_confirmation %>
-->
  <label>ADMIN:</label><br>
  <%= f.check_box :admin %>
  <!-- <input type="checkbox" value=true name="user[admin]" id="user_admin"> -->
  <!--
  <label>True</label>
  <input type="radio" id="user_admin" name="user[admin]" value="1">
  <label>False</label>
  <input type="radio" id="user_admin" name="user[admin]" value="0" checked>
-->
  <!-- note that "checked" will have to be handled differently for editing -->
  <br>

  <label>Nausea:</label><br>
  <%= f.text_field :nausea %>
  <br>

  <label>Happiness:</label><br>
  <%= f.text_field :happiness %>
  <br>

  <label>Tickets:</label><br>
  <%= f.text_field :tickets %>
  <br>

  <label>Height:</label><br>
  <%= f.text_field :height %>
  <br>

  <%= f.submit "Create User" %>
<% end %>
