<h1>Welcome, <%= @user.name %></h1>

<p>Mood: <%= @user.happiness %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<p>Admin: <%= @user.admin %></p>

<%= link_to "Log Out", "/signout" %>
