<h1>Attraction: <%= @attraction.name %></h1>

<% if current_user_is_admin %>
  <%=  link_to "Edit Attraction", "/attractions/#{@attraction.id}/edit" %>
<%  else %>
  <%= form_tag url: rides_path  do |f| %>
    <%= f.hidden_field :user_id, @user.id %>
    <%= f.hidden_field :attraction_id, @attraction.id %>

    <%= f.submit "Go on this ride" %>
  <% end %>
<% end %>
